@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", "Shrikhand", sans-serif;
}

.page {
  max-width: 1400px;
  margin: auto;
}

header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header img {
  height: 32px;
}

.location {
  background-color: #EAEAEA;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid rgba(208, 208, 208, 0.65);
}

form {
  font-size: 16px;
  margin-left: 50px;
}

#search {
  background-color: #EAEAEA;
  border: none;
  padding: 5px 0px 5px 15px;
  font-family: "Roboto";
  font-weight: 600;
}

.intro {
  height: 286px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px 0 40px;
  text-align: center;
}
.intro h1 {
  font-size: 26px;
  font-weight: 800;
}
.intro p {
  font-size: 18px;
  font-weight: 300;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  font-size: 16px;
  font-weight: 500;
  color: white;
  width: 220px;
  height: 50px;
  border-radius: 50px;
  margin: 20px 0 40px 0;
  box-shadow: 0px 0px 10px 5px rgba(208, 208, 208, 0.65);
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 10px 8px rgba(208, 208, 208, 0.85);
}

.restaurants, .intro, .steps__card {
  background-color: #F6F6F6;
}

.working {
  margin: 30px 20px 50px 20px;
}
.working h2 {
  font-weight: 800;
  padding: 20px 0 20px 0;
}

.steps__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  max-width: 400px;
  margin-bottom: 30px;
  margin-left: 14px;
  font-weight: 600;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 2px rgba(208, 208, 208, 0.55);
}
.steps__card--number {
  background-color: #9356DC;
  font-size: 14px;
  font-weight: 400;
  color: white;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  padding: 5px;
  position: absolute;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.steps__card i {
  font-size: 18px;
  color: gray;
  position: absolute;
  left: 50px;
}

.restaurants {
  padding: 40px 20px 20px 20px;
}
.restaurants h2 {
  font-weight: 800;
  margin: 10px 0 20px 0;
}

.card {
  height: 250px;
  max-width: 460px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(208, 208, 208, 0.55);
}
.card a {
  text-decoration: none;
  color: black;
}
.card__img {
  height: 172px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  display: flex;
  position: relative;
}
.card__img img {
  width: 100%;
  object-fit: cover;
}
.card__img--new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  padding: 7px 12px;
  font-size: 15px;
  font-weight: 600;
  color: #218a70;
  border-radius: 4px;
}
.card__content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.card__content--description {
  font-size: 17px;
}
.card__content--description h3 {
  font-weight: 700;
  padding-bottom: 8px;
}
.card__content--heart {
  font-size: 25px;
  padding: 10px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 25px;
}
footer li {
  list-style-type: none;
  padding-bottom: 10px;
}
footer li i {
  margin-right: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}

.fa-handshake-angle {
  font-size: 12px;
}

/*mise en page menus*/
.fa-arrow-left {
  position: absolute;
  top: 7px;
  left: 15px;
  font-size: 22px;
  color: black;
  padding: 15px;
}

.restaurant_img img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.cards {
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  padding: 0 20px 40px 20px;
  margin-top: -40px;
  position: relative;
}

.restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant__name {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  padding: 40px 0 30px 0;
}

.menu_meal {
  padding-bottom: 10px;
}
.menu_meal__name {
  padding: 5px 0 5px 0;
}

hr {
  border: 2px solid #99E2D0;
  width: 35px;
}

.meal {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  height: 68px;
  max-width: 400px;
  margin: 15px 0 15px 0;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px rgba(208, 208, 208, 0.55);
  font-size: 15px;
  position: relative;
  overflow: hidden;
}
.meal p {
  padding-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.meal h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal__name {
  display: block;
  padding: 12px 0 12px 12px;
  white-space: nowrap;
  overflow: hidden;
}
.meal__price {
  display: block;
  padding: 0px 12px 12px 10px;
  transition: all 430ms ease-in-out;
}
.meal:hover .meal__price {
  transform: translate(-60px);
  padding-left: 65px;
}
.meal:hover .check_anim {
  transform: translate(-60px);
}
.meal:hover .fa-circle-check {
  transform: rotate(360deg);
}

.btn_command {
  margin: 20px auto;
}

.fa-heart {
  font-size: 30px;
}

/*début des animations*/
.check_anim {
  position: absolute;
  right: -60px;
  height: 68px;
  width: 58px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  transition: transform 350ms ease-in-out;
}

.fa-circle-check {
  color: white;
  font-size: 22px;
  transition: transform 350ms 100ms ease-in-out;
}

.empty {
  transform: translateX(36px);
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}
.empty:hover {
  opacity: 0;
}
.empty:hover + .full {
  transform: scale(1);
}

.full {
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 400ms ease-in-out;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes meal-animation {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.meal {
  animation: meal-animation 600ms 100ms ease-in-out;
  animation-fill-mode: both;
}
.meal--1 {
  animation-delay: 100ms;
}
.meal--2 {
  animation-delay: 200ms;
}
.meal--3 {
  animation-delay: 300ms;
}
.meal--4 {
  animation-delay: 400ms;
}
.meal--5 {
  animation-delay: 500ms;
}
.meal--6 {
  animation-delay: 600ms;
}
.meal--7 {
  animation-delay: 700ms;
}
.meal--8 {
  animation-delay: 800ms;
}
.meal--9 {
  animation-delay: 900ms;
}

/*media queries*/
@media screen and (min-width: 500px) {
  .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .steps__card {
    width: 380px;
  }

  .restaurants__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 460px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu_meal {
    width: 350px;
    margin: 0 20px 0 20px;
  }

  .meal {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .steps {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
  }
  .steps__card {
    margin-right: 20px;
  }
  .steps i {
    left: 40px;
  }

  .restaurants__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card {
    margin-bottom: 50px;
  }

  .menu {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  .menu_meal {
    width: 30%;
  }

  .restaurant__name {
    padding-left: 20px;
  }

  .btn {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
