.location {
    background-color: #EAEAEA;
    height: 52px;
    @include flexmid;
    border-top: 3px solid rgba(208, 208, 208, 0.65)
}
form {
    font-size: 16px;
    margin-left: 50px;
}
#search {
    background-color: #EAEAEA;
    border: none;
    padding: 5px 0px 5px 15px;
    font-family: 'Roboto';
    font-weight: 600;
}

